Group Members: Brandon Steege, Hannah Tippin, Leonardo Garcia

Group Name: Click here for more ram!!1!

Python Version: Python 3.7

IDE: PyCharm Professional Edition with Anaconda Plugin 2019.3.3

Libraries needed to run our code:
-pefile
-requests
Note: pefile and requests need to be added separately when setting up the interpreter

Sources for Libraries:
https://github.com/erocarrera/pefile
https://requests.readthedocs.io/en/master/

Interpreter:
The project interpeter is a Conda Environment using Anaconda3

Sources:
https://mkyong.com/python/python-how-to-split-a-string/
https://stackoverflow.com/questions/20027990/how-can-i-get-text-section-from-pe-file-using-pefile/20029088
https://developers.virustotal.com/reference#file-scan
https://axcheron.github.io/pe-format-manipulation-with-pefile/
http://hooked-on-mnemonics.blogspot.com/p/portable-executable-virustotal-example.html
https://stackoverflow.com/questions/54286700/how-to-modify-the-timedatestamp-field-in-pe-file-header

